@font-face {
  font-family: 'lzjiaoj';
  src:  url('fonts/lzjiaoj.eot?lm6s9y');
  src:  url('fonts/lzjiaoj.eot?lm6s9y#iefix') format('embedded-opentype'),
    url('fonts/lzjiaoj.ttf?lm6s9y') format('truetype'),
    url('fonts/lzjiaoj.woff?lm6s9y') format('woff'),
    url('fonts/lzjiaoj.svg?lm6s9y#lzjiaoj') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lzjiaoj-"], [class*=" lzjiaoj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lzjiaoj' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lzjiaoj-banshiwd:before {
  content: "\e900";
}
.lzjiaoj-fuwuzn:before {
  content: "\e901";
}
.lzjiaoj-hefalsp:before {
  content: "\e902";
}
.lzjiaoj-jidongcheqz:before {
  content: "\e903";
}
.lzjiaoj-lianxifsbg:before {
  content: "\e904";
}
.lzjiaoj-jidongcyw:before {
  content: "\e905";
  color: #666;
}
.lzjiaoj-jiashirenlxfs:before {
  content: "\e906";
}
.lzjiaoj-jiashizyw:before {
  content: "\e907";
}
.lzjiaoj-jiashizhengzx:before {
  content: "\e908";
}
.lzjiaoj-jiaxiaoxj:before {
  content: "\e909";
  color: #234898;
}
.lzjiaoj-motuochezq:before {
  content: "\e90a";
}
.lzjiaoj-shenyanjy:before {
  content: "\e90b";
}
.lzjiaoj-shixiqm:before {
  content: "\e90c";
}
.lzjiaoj-shentitj:before {
  content: "\e90d";
}
.lzjiaoj-tousujy:before {
  content: "\e90e";
}
.lzjiaoj-wangshangjf:before {
  content: "\e90f";
}
.lzjiaoj-weizhangcl:before {
  content: "\e910";
}
.lzjiaoj-xuexijf:before {
  content: "\e911";
}
.lzjiaoj-home:before {
  content: "\e912";
}
.lzjiaoj-profile:before {
  content: "\e923";
}
.lzjiaoj-user:before {
  content: "\e971";
}
.lzjiaoj-backward2:before {
  content: "\ea1f";
}
.lzjiaoj-arrow-left:before {
  content: "\ea38";
}
.lzjiaoj-arrow-left2:before {
  content: "\ea40";
}
.lzjiaoj-circle-left:before {
  content: "\ea44";
}
